.bookstyle { text-indent: 0.7em; }

.markdown-rendered p {
    text-indent: 0.7em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.markdown-source-view.mod-cm6 .cm-line {
    text-indent: 0.7em;
}
